{% extends 'base.html.twig' %}

{% block title %}A propos - Gruut{% endblock %}

{% block content %}
<br>
    <img src="{{ asset('assets/img/logo.PNG') }}" class="img">

    <h2 class="text-center">Qui sommes-nous ?</h2>

    <p class="text-justify mx-5 mt-5">Tout a commencé lorsqu'un jeune menuisier du nom de GRUUT Pierre, a décidé de suivre sa passion pour la menuiserie et de se lancer en tant qu'artisan indépendant. Avec seulement quelques outils et beaucoup de détermination, il a commencé à créer des meubles et des articles de menuiserie pour des clients locaux. Le travail du fondateur était remarquable pour sa qualité exceptionnelle et son attention aux détails, ce qui a rapidement attiré l'attention de plus en plus de clients.
<br>
<br>
Au fil des ans, l'entreprise a grandi et s'est développée en une entreprise de menuiserie florissante. Le fondateur a embauché d'autres menuisiers talentueux et a investi dans les meilleurs outils et équipements pour fournir des produits encore plus exceptionnels. Malgré son succès, il n'a jamais perdu de vue ses valeurs fondamentales, notamment le service client, la qualité du travail et l'engagement envers l'excellence.
<br>
<br>
Aujourd'hui, notre entreprise de menuiserie est fière d'être reconnue comme l'un des meilleurs fournisseurs de produits de menuiserie de la région. Nous sommes fiers de poursuivre l'héritage du fondateur en fournissant toujours des produits de la plus haute qualité et en offrant un service client incomparable.</p>
{% endblock %}
